<!DOCTYPE html>
<html lang="id">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Pintu Keluar</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <div class="header">

        <h1>Sistem Parkir</h1>

        <p>Pintu Keluar</p>

    </div>


    <div class="card">

        <h2>Kendaraan Keluar</h2>

        <form method="POST">

            <label>Nomor Plat</label>

            <input
                type="text"
                name="no_plat"
                placeholder="Contoh: M 1234 AB"
                required
            >


            <button type="submit">
                Proses Kendaraan Keluar
            </button>

        </form>

    </div>


    {% if hasil %}

    <div class="result
        {% if hasil.status %}
        success
        {% else %}
        error
        {% endif %}
    ">

        <h3>{{ hasil.pesan }}</h3>


        {% if hasil.status %}

        <p>
            <b>ID Transaksi:</b>
            {{ hasil.data.id_transaksi }}
        </p>

        <p>
            <b>Nomor Plat:</b>
            {{ hasil.data.no_plat }}
        </p>

        <p>
            <b>Jenis:</b>
            {{ hasil.data.jenis }}
        </p>

        <p>
            <b>Slot:</b>
            {{ hasil.data.slot }}
        </p>

        <p>
            <b>Durasi:</b>
            {{ hasil.data.durasi }} jam
        </p>

        <div class="price">

            Rp {{ "{:,.0f}".format(
                hasil.data.total_bayar
            ).replace(",", ".") }}

        </div>

        {% endif %}

    </div>

    {% endif %}

</div>

</body>

</html>