<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">

    <title>Laporan Manajer</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container wide">

    <div class="header">

        <h1>Sistem Parkir</h1>

        <p>Laporan Manajemen</p>

    </div>


    <div class="card">

        <h2>Laporan Parkir</h2>

        {% for key, value in laporan.items() %}

        <p>
            <strong>{{ key }}</strong> :
            {{ value }}
        </p>

        {% endfor %}

    </div>


    <div class="card">

        <h2>Riwayat Transaksi</h2>

        {% if riwayat %}

        <table>

            <thead>

                <tr>
                    <th>ID Tiket</th>
                    <th>Nomor Plat</th>
                    <th>Jenis</th>
                    <th>Total Bayar</th>
                </tr>

            </thead>

            <tbody>

                {% for data in riwayat %}

                <tr>

                    <td>
                        {{ data.id_tiket }}
                    </td>

                    <td>
                        {{ data.nomor_plat }}
                    </td>

                    <td>
                        {{ data.jenis }}
                    </td>

                    <td>
                        Rp {{ data.total_bayar }}
                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

        {% else %}

        <p>Belum ada transaksi.</p>

        {% endif %}

    </div>

</div>

</body>

</html>