<!DOCTYPE html>
<html lang="id">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Pintu Masuk</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <div class="header">

        <h1>Sistem Parkir</h1>

        <p>Pintu Masuk</p>

    </div>


    <div class="card">

        <h2>Kendaraan Masuk</h2>

        <form method="POST">

            <label for="no_plat">
                Nomor Plat
            </label>

            <input
                type="text"
                id="no_plat"
                name="no_plat"
                placeholder="Contoh: M 1234 AB"
                required
            >


            <label for="jenis">
                Jenis Kendaraan
            </label>

            <select
                id="jenis"
                name="jenis"
                required
            >

                <option value="">
                    Pilih kendaraan
                </option>

                <option value="Motor">
                    Motor
                </option>

                <option value="Mobil">
                    Mobil
                </option>

            </select>


            <button type="submit">
                Kendaraan Masuk
            </button>

        </form>

    </div>


    {% if hasil %}

    <div class="result
        {% if hasil.status %}
            success
        {% else %}
            error
        {% endif %}
    ">

        <h3>{{ hasil.pesan }}</h3>


        {% if hasil.status %}

        <p>
            <b>ID Tiket:</b>
            {{ hasil.data.id_tiket }}
        </p>

        <p>
            <b>Nomor Plat:</b>
            {{ hasil.data.no_plat }}
        </p>

        <p>
            <b>Jenis:</b>
            {{ hasil.data.jenis }}
        </p>

        <p>
            <b>Slot:</b>
            {{ hasil.data.slot }}
        </p>

        <p>
            <b>Waktu Masuk:</b>
            {{ hasil.data.waktu_masuk }}
        </p>

        {% endif %}

    </div>

    {% endif %}

</div>

</body>

</html>