<!DOCTYPE html>
<html lang="id">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Monitoring Parkir</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container wide">

    <div class="header">

        <h1>Sistem Parkir</h1>

        <p>Monitoring Petugas</p>

    </div>


    {% if error %}

    <div class="result error">

        <h3>Koneksi ke Server Gagal</h3>

        <p>{{ error }}</p>

        <p>
            Server: {{ "192.168.137.254:8000" }}
        </p>

    </div>

    {% endif %}


    <div class="card">

        <h2>Status Slot Parkir</h2>

        <div class="slot-grid">

            {% for nomor_slot, status in slot.items() %}

            <div class="slot-card">

                <h3>{{ nomor_slot }}</h3>

                {% if "KOSONG" in status %}

                <p class="kosong">
                    {{ status }}
                </p>

                {% else %}

                <p class="terisi">
                    {{ status }}
                </p>

                {% endif %}

            </div>

            {% endfor %}

        </div>

    </div>

</div>

</body>

</html>