<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">

    <title>Monitoring Parkir</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container wide">

    <div class="header">
        <h1>Sistem Parkir</h1>
        <p>Monitoring Petugas</p>
    </div>

    <div class="card">

        <h2>Status Slot Parkir</h2>

        <div class="slot-grid">

            {% for nomor_slot, status in slot.items() %}

            <div class="slot-card">

                <h3>{{ nomor_slot }}</h3>

                <p>{{ status }}</p>

            </div>

            {% endfor %}

        </div>

    </div>

</div>

</body>
</html>